/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/mx_splashpwa.mpr.bak
/mx_splashpwa.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
.DS_Store
/.svn/
/.docker/http
/.docker/mailpit
/.docker/pgadmin
/.docker/postgres
